*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: auto;
}

.contenedor{
    display: inline-block;
    position: relative;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    
}
.contenedor-titulo{
    display: inline-block;
    position: absolute;
    left: 100px;
    top: -50px;
    background-color: salmon;
    border-radius: 15px;
    font-size: 5rem;
}
.contenedor-main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: aqua;
    border-radius: 30px;
    width: auto;
    height: auto;
    text-align: center;
}
.contenedor-main_imagen{
    display: inline-block;
    position: relative;
    top: 20px;
    border-radius: 100%;
    height: 500px;
    width: 500px;
}
.contenedor-main_texto{
    position: relative;
    top: 50px;
    height: 200px;
    width: 600px;
    font-size: 3rem;
    text-align: center;
}
